button{
    background-color: pink;
    padding: 10px;
    border-radius: 10px;
    cursor:pointer;
    border: none;
}


#cart_box{


    border-radius:10px;
    padding:10px;
    margin-top:20px;
    border:2px solid black;
    background-color: blue;  
}